
#conteudo{
    width: 900px;
    height: 900px;
    background-color: blanchedalmond;
    margin: 0 auto;
}
#cabecalho{
    background-color: lavender;
    width: 900px;
    height: 300px;
}
#feed{
    background-color: blueviolet;
    width: 900px;
    height: 300px;
}