#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    border-bottom: 1px solid #dbdbdb;
}
#logo{
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: -80px;
    margin-left: 200px;
    margin-bottom: -70px;
}
.actions{
    position: relative;
    left: -270px;
}
#login{
    background-color: #0095f6;
    color: white;
    font-size: 14px;
    border-radius: 8px
}
#signup{
    color: rgb(0, 8, 255);
    background-color: transparent;
    font-size: 14px;
    border-radius: 8px    
}

#conteudo{
    width: 900px;
    height: 900px;
    background-color: blanchedalmond;
    margin: 0 auto;
}
.section{
    width: 900px;
}
#cabecalho{
    height: 300px;
    background-color: lavender;
    display: flex;
}
#destaques{
    height: 200px;
    display: flex;
    background-color: moccasin;
}
#feed{
    display: flex;
    background-color: #0095f6 ;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px;
    column-gap: 10px;
    row-gap: 10px;
}
#fotodeperfil{
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, #2a001b 0.000%, #78130c 16.667%, #ce480e 33.333%, #ff8d22 50.000%, #ffd543 66.667%, #ffff69 83.333%, #ffff8d 100.000%);
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 50%;
}
#textodeperfil{
    width: 600px;
    height: 300px;
    background: linear-gradient(45deg, #4159d0 0.000%, #c84fc0 50.000%, #ffcd70 100.000%);
    box-sizing: border-box;
    padding: 20px 70px;
}
#usarname{
    font-style: initial;
    font-weight: 100;
}
.seguidores{
    margin-right: 45px;
    padding-left: 5px;
}

#bio{
    padding-left: 15px;
}
#threads{
    margin: 0;
    margin-top: -10px;
    margin-bottom: 5px;
}
#threads-icone{
    margin-left: -1px;
    margin-bottom: -15px;
    margin-top: -15px;
    background-color: rgb(160, 162, 161, 0.5);
    border-radius: 15px;
    padding: 3px;
    img{
    position: relative;
    top: 3px;
    left: 3px;}
}

#texto-bio{
    padding-left: 20px;
    display: flex;
    flex-direction: column
}
#texto-bio{
    list-style-type: none;
    display: flex;
    margin-left: -15px;
    margin-top: 1px;
}
.lista{
    font-size: 15px;
}
#icone-link{
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-image: url('icone-link.png');
}

#bio-link{
    display: flex;
    width: max-content;
    margin-left: 5.3px;
    margin-top: -18px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.destaque{
    height: 200px;
    width: 150px;
    background-color: lemonchiffon;
    padding: 33px 25px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;

}
.post{
    height: 400px;
    width: 290px;
    border-radius: 0%;
}




